<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/media/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="/static/fonts/News706 BT Bold.ttf">
    <title>Art .</title>
</head>
<body>

<nav class="top-menu">
    <ul class="menu-main">
        <li class="right-item"><a href="/search_autor/">Work</a></li>
        <li class="right-item"><a href="">About</a></li>
        <li class="right-item"><a href="" >Story</a></li>
        <li class="right-item"><a href="">Contact</a></li>
        <li class="right-item"><a href="">Shop</a></li>
        <li class="right-item"><a href="">Gallery</a></li>
    </ul>
    <a class="logo" href="/"><img src="/static/images/ART_logo.png" alt="ART_logo.jpg"></a>
</nav>


<form>
    <label>
        <input type="text">
    </label>
    <input type="submit" value="Кнопка">
</form>
{% block title %}Поиск по автору{% endblock %}
{% block content %}
    {% for artist in all_artists %}
        <div>
            <a href=""> {{ artist.artist_name }} </a>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>
